<div class="container pt-5 mt-5 text-white">
  <div class="row">
    <div class="col-md-7 mx-auto">
      <div class="d-flex flex-column justify-content-center align-items-center gap-3">
        <h3 class="text-center">{{events.name}}</h3>
        <img src={{events.imageUrl}} alt="..." class="w-25" />
        <p class="card-title">{{events.description}}</p>
        <p class="card-text">{{events.date}}</p>
      </div>
    </div>
  </div>
</div>