<div class="container-fluid bg-image vh-100">
  <div class="row h-100">
    <div class="col h-100">
      <div class="text-center d-flex flex-row justify-content-center align-items-center h-100 position-relative gap-5">
        <a href="/movie-filter" type="button" class="btn text-dark boton yellow-bt">FIND A MOVIE</a>
        <a href="/series-filter" type="button" class="btn text-dark boton green-bt">FIND A SHOW</a>

      </div>
    </div>
  </div>
</div>