<div class="container-fluid bg-image vh-100">
  <div class="row h-100">
    <div class="col h-100">
      <div
        class="text-center d-flex flex-row justify-content-center align-items-center h-100 position-relative gap-5"
      >
        <a
          href="/movie-filter"
          type="button"
          class="btn btn-warning btn-lg text-white fw-bold"
        >Find a movie</a>
        <a
          href="/series-filter"
          type="button"
          class="btn btn-warning btn-lg text-white fw-bold"
        >Find a show</a>

      </div>
    </div>
  </div>
</div>