<div class="container-fluid bg-image vh-100">
  <div class="row h-100">
    <div class="col h-100">
      <div class="text-center d-flex flex-column justify-content-center align-items-center h-100 position-relative">
        <h1 class="text-white fw-bold">{{appTitle}} 🚀</h1>
        <div class="row">
          <div class="col-6">

            <a href="/movie-filter" type="button" class="btn btn-outline-light">Find a movie</a>
            <a href="/series-filter" type="button" class="btn btn-outline-light">Find a show</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>