<div class="container pt-5 mt-5">
  <form
    class="row gy-2 gx-3 align-items-center"
    action="/peliculas-filtradas"
    method="POST"
  >
    {{!-- <div class="col-auto">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value="es"
          id="flexCheccountry"
          name="country"
        />
        <label class="form-check-label" for="flexCheccountry">
          country
        </label>
      </div>
    </div> --}}
    <div class="col-auto">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value="netflix"
          id="flexChecnetflix"
          name="services"
        />
        <label class="form-check-label" for="flexChecnetflix">
          Netflix
        </label>
      </div>
    </div>
    <div class="col-auto">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value="prime.subscription"
          id="flexCheckprime"
          name="services"
        />
        <label class="form-check-label" for="flexCheckprime">
          Amazon Prime
        </label>
      </div>
    </div>
    <div class="col-auto">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value="disney"
          id="flexCheckdisney"
          name="services"
        />
        <label class="form-check-label" for="flexCheckdisney">
          Disney
        </label>
      </div>
    </div>
    <div class="col-auto">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value="hbo"
          id="flexCheckhbo"
          name="services"
        />
        <label class="form-check-label" for="flexCheckhbo">
          HBO
        </label>
      </div>
    </div>
    <div class="col-auto">
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="genres"
          id="inlineRadioAction"
          value="28"
        />
        <label class="form-check-label" for="inlineRadioAction">Action</label>
      </div>
    </div>

    <div class="col-auto">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
  <div class="container pt-5">
    <h1 class="text-white text-center pt-5">API Data</h1>
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-4">
      {{#each movie.result}}
        <div class="col">
          <div class="card">
            <img
              src="https://image.tmdb.org/t/p/original{{posterPath}}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title text-center">{{title}}</h5>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
    <div class="row">
      <div class="col text-center p-4">
        {{!-- {{#if hasPrevious}} --}}
        <a
          href="/peliculas-filtradas?cursor={{previousCursor}}"
          class="btn btn-warning text-white"
        >Previous</a>
        {{!-- {{/if}} --}}
        {{!-- {{#if hasMore}} --}}
        <a
          href="/peliculas-filtradas?cursor={{nextCursor}}"
          class="btn btn-warning text-white"
        >Next</a>
        {{!-- {{/if}} --}}
      </div>
    </div>
  </div>
</div>