<div class="bg-dark h-auto">
  <div class="container pt-5">
    <h1 class="text-white text-center pt-5">API Data</h1>
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-4">
      {{#each movie.result}}
        <div class="col">
          <div class="card">
            <img
              src="https://image.tmdb.org/t/p/original{{posterPath}}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title text-center">{{title}}</h5>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
    <div class="row">
      <div class="col text-center p-4">
        {{#if hasMore}}
          <a
            href="/peliculas-new?cursor={{nextCursor}}"
            class="btn btn-warning text-white"
          >next</a>
        {{/if}}
      </div>
    </div>
  </div>
</div>